@model List<Product>


    <table class="table table-bordered table-striped mt-3 table-hover">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Price</td>
                <td>Description</td>
                <td>Image</td>
                <td>Action</td>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td>
                        <img src="~/Images/@product.ImageUlr" class="img-fluid" height="60px" width="60px" />
                    </td>
                    <td>
                    <a asp-action="GetProductDetails" asp-route-id="@product.Id" class="btn btn-success">ShowDetails</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>




